
keras==2.15.0

matplotlib==3.7.1
matplotlib-inline==0.1.6
matplotlib-venn==0.11.9
numpy==1.23.5

pandas==1.5.3
Pillow==9.4.0



streamlit==1.29.0

tensorflow==2.15.0
tensorflow-datasets==4.9.4
tensorflow-estimator==2.15.0

